<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="stylesheets/academics.css" type="text/css" rel="stylesheet">
    <title>Academics</title>

</head>

<div class="header">
    <h2>Academics</h2>
</div>

<body>
    <div class="grid">

        <div class="school">
            <h3>Rochester Institute of Technology Honors College ----------- December 2021</h3>
            <p>Masters: Computing Security</p>
            <p>Major: Computer Science</p>
            <p>Minor: Mathematics</p>
            <p>Minor: Mobile Development</p>
        </div>
        <div class="skills">
            <h3>Skills:</h3>
            <div class="skills-grid">
                <p>Java:</p><div class="java"></div>
                <p>C:</p><div class="c"></div>
                <p>Python:</p><div class="python"></div>
                <p>SQL:</p><div class="sql"></div>
                <p>React Native:</p><div class="react"></div>
                <p>Visual Basic:</p><div class="vb"></div>
                <p>CSS:</p><div class="css"></div>
                <p>HTML:</p><div class="html"></div>
                <p>Node JS:</p><div class="node"></div>
                <p>MIPS Assembly:</p><div class="mips"></div>
            </div>

        </div>
        <div class="awards">
            <div class="awards-grid">
                <h3>Awards:</h3>
                <p>Nathaniel Rochester Society Scholar </p>
                <div class="year">2019-2020</div>
                <p>NCWIT Certificate of Distinction Award Recipient</p>
                <div class="year">2017</div>
            </div>
        </div>
        <div class="coursework">
            <h3>Coursework:</h3>
        </div>
    </div>

</body>
</html>