<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="stylesheets/athletics.css" type="text/css" rel="stylesheet">
    <title class="title">Athletics</title>
</head>
<body>
    <div class="header">
        <h2>Athletics</h2>
    </div>

    <div class="grid">
        <div class="subgrid1">
        <div class="season2">
            <h2>2018-2019 Season</h2>
            <h3>Season Recap:</h3>
            <a href="https://www.ritathletics.com/news/2019/7/9/womens-tennis-ties-school-record-for-wins-during-historic-2018-19-season.aspx">
            Women's tennis ties school record for wins during historic 2018-19 season</a>
            <h3>Team Results:</h3>
            <ul>
                <li>Tied the school record for most wins in a season at 13 match wins</li>
                <li>Tied the school record by recording 4 consecutive shutout wins in a season </li>
                <li>First time in program history winning a League match</li>
            </ul>
            <h3>Individual Results:</h3>
            <ul>
                <li>Broke the school record for the most dual wins in a season with 15 wins </li>
                <li>Named to Liberty League All-Academic Spring 2019 team</li>
                <li>Played 5th singles and 3rd doubles</li>
                <li>Appeared in 22 singles matches and 21 doubles matches</li>
            </ul>
        </div>
        <div class="season1">
            <h2>2017-2018 Season</h2>
            <h3>Season Recap:</h3>
            <a href="https://www.ritathletics.com/news/2018/6/14/womens-tennis-wins-10-matches-and-advances-to-liberty-league-tournament-in-2017-18.aspx?path=wten">
                Women's tennis wins 10 matches and advances to Liberty League tournament in 2017-18</a>
            <h3>Team Results:</h3>
            <ul>
                <li>Qualified for the Liberty League tournament</li>
            </ul>
            <h3>Individual Results:</h3>
            <ul>
                <li>Played 3rd singles and 2nd doubles</li>
                <li>Named RIT Athlete of the Week on April 2nd</li>
                <li>Appeared in 21 singles matches and 24 doubles matches</li>
            </ul>
            <p></p>
        </div>
        </div>
    <div class="subgrid2">
        <div class="team2">
            <img src="images/team2.jpg" title="2019season" alt="2018-2019 Team" style="width:625px; height:100%">
        </div>
        <div class="coaching">
        <img src="images/coaching.jpg" title="2019season" alt="2018 Fall" style="width:625px; height:100%">
        </div>
    </div>
    </div>
</body>
</html>