<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="stylesheets/athletics.css" type="text/css" rel="stylesheet">
    <title class="title">Athletics</title>
</head>
<body>
    <div class="header">
        <h2>Athletics</h2>
    </div>

    <div class="grid">
        <div class="season2">
            <h3>2018-2019 Season</h3>
            <h5>Team Results:</h5>
            <p></p>
            <h5>Individual Results:</h5>
        </div>
        <div class="team1">
            <img src="images/team1.jpg" title="2019season" alt="2018-2019 Team" style="width:625px; height:100%">
        </div>
    </div>
</body>
</html>