<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
<head>
    <link href="stylesheets/blog.css" type="text/css" rel="stylesheet">
    <title class="title">coffee & claire</title>
</head>

<div class="header">
    <h2>coffee & claire</h2>
</div>

<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <h2>All things Nitro Cold Brew!</h2>
            <h5>My take on the new Nitro trend, June 16, 2019</h5>
            <div class="img"  style="height:200px;"><img src="images/nitro.jpg", style="height: 200px; width: 500px;"></div>
            <p>Hello all!</p>
            <p>Welcome to my first ever blog post, I figured I should make this post about something very near and dear to my heart..
                For those of you who know me at all, you know that I LOVE LOVE LOVE all things coffee!! Way back in 2009 McDonald’s did free
                mocha Monday’s and thus the addiction ensued at the age of 10 oops…
            </p>
            <p>I have recently started a summer internship in Denver, CO and have been introduced to the world of nitro cold brew!
                If you love coffee and you have never had nitro, add it to your list of things to try! For those of you who do not know what
                nitro cold brew is, it is essentially cold brew coffee that has been infused with nitrogen gas. The infusion creates a foamy,
                smooth, and very bold coffee. My fav! It also has more caffeine!! Even better for those late night homework sessions
            </p>
            <p>A little bit of history on this delicious drink..
            </p>
            <p>Back in 2016 the Seattle Reserve Roastery introduced the drink for the first time and quickly became the 2nd most popular drink
                (behind the caffe latte, a personal favorite of mine!) The drink quickly spread across the country starting mostly on the west coast,
                but Starbucks is hoping to have the drink at all locations by the end of this year!
            </p>
            <p>Nitro isn’t cheap (the only negative in my opinion). The prices range across different locations but for the most part a medium will cost
                about $3.50. Now if you’re anything like me you don’t want to spend $3.50 a day on a drink (or more for those that are even more
                like me and have 2+ cups of coffee a day).
            </p>

            <p>So why not buy your own nitro cold brew maker right?! You can but a 2L nitro cold brew home brewing kit for $160 from Amazon which
                is about the equivalent of purchasing 45 grandes from Starbucks. You would need to occasionally change the cream chargers which cost
                about $15 for a pack of 10. So if you’re really into coffee (like me!!) buying the home brewing kit might make more economical
                sense for you!!  Thank goodness for the free cups at my job!
            </p>

             <p>Let me know what you think of nitro cold brew when you get the chance to try it!
            </p>
        </div>
    </div>
    <div class="rightcolumn">
        <div class="card">
            <h2>About Me</h2>
            <div class="img" ><img src="images/me.jpg" style="height:100px;"></div>
            <p>Hi! My name is Claire and I am currently a junior at RIT studying computer science and computing security.
                Hopefully this blog will give you some insight into the college life!
            </p>

        </div>
        <div class="card">
            <h3>Recent Posts</h3>
            <div class="img"><img src="images/nitro.jpg", style="height: 75px; width: 200px;"></div>
        </div>
        <div class="card">
            <h3>Follow Me</h3>
            <p>Instagram: @clairecasalnova</p>
            <p>Twitter: @clairecasalnova</p>
        </div>
    </div>
</div>

<div class="footer">
    <h2>Contact Me:</h2>
    <p>clairecasalnova@gmail.com</p>
</div>