<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
<head>
    <link href="stylesheets/blog.css" type="text/css" rel="stylesheet">
    <title class="title">coffee & claire</title>
</head>

<div class="header">
    <h2>coffee & claire</h2>
</div>

<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <h2>New Years Resolutions in August?</h2>
            <h5>How to make a one year plan and live your best life, August 1st, 2019</h5>
            <div class="img"  style="height:200px;"><img src="images/post2.jpg", style="height: 200px; width: 500px;"></div>
            <p>Hello all!</p>
            <p>Welcome back everyone!
                It has been a wonderful summer and I am so thankful for all that I have learned at work and for all of the relationships
                I have built with all of my coworkers! I am sad that it is coming to a close but here is to a great third year of school!
            </p>
            <p>This summer has taught me so much about myself and thus I have decided to embark on a one year journey towards self improvement.
                I have decided to spend this next year becoming everything that I used to tell myself I would be but never quite put it into
                action. Thanks to some friends I have watched 2 incredible videos that have helped to shape this one year plan (I have linked
                them at the bottom of this post!) Both of these videos discussed that making marginal changes in one’s daily life can have
                monumental changes on one’s life. This really hit home for me. If I can take the big goals I am trying to reach and break
                them down into tiny tasks, then they become all the easier to achieve! One of the videos talks about creating habits and
                how, for example, to start flossing your teeth daily. To build this habit you should start by flossing one tooth each day
                because it is too simple to not do it and then move to two teeth then three and so on until its engrained to floss your
                teeth every single day. Below is a list of my large challenges for the year and then how I plan to break them down into small
                daily tasks.
            </p>
            <ul class ="leftalign">
                <li>Read 20 books by August 1st 2020 — read for 30 minutes or more everyday</li>
                <li>Be more informed on world news — listen to the Today, Explained podcast each day </li>
                <li>Exercise my civic duties and be a more informed voter — listen to NPR politics podcast each day and follow politics news</li>
                <li>Expand my knowledge beyond what’s taught in school — listen to the Stuff You Should Know podcast </li>
                <li>Be a healthier individual— workout each day even if its just a 10 minute walk as well as take my vitamins everyday and drink at least 2 water bottles each day</li>
                <li>Be a more environmentally friendly individual— this can be broken down into so many smaller tasks that I will discuss in a later blog post!!</li>
                <li>Travel to 3 new states and to 1 new country by August 1st 2020 </li>
            </ul>
            <p>I challenge each of you to think one goal you want to accomplish by the end of the year and think about how you can break it into a small
                task to do every day to accomplish it! I plan to post updates on my goals throughout the year so stayed tuned!
            </p>
            <p>Here’s to everyone living their best life!</p>
            <p>Below are the two videos I mentioned and all of the podcasts can be found on Spotify!</p>
            <p><a href="https://www.youtube.com/watch?v=lIW5jBrrsS0#action=share">
                BOOKSTORES: How to Read More Books in the Golden Age of Content</a></p>
            <p><a href="https://www.youtube.com/watch?v=TQMbvJNRpLE&feature=youtu.be">
                How to Achieve your Most Ambitious Goals | Stephen Duneier | TEDxTucson</a></p>
        </div>
        <div class="card">
            <h2>All things Nitro Cold Brew!</h2>
            <h5>My take on the new Nitro trend, June 16, 2019</h5>
            <div class="img"  style="height:200px;"><img src="images/nitro.jpg", style="height: 200px; width: 500px;"></div>
            <p>Hello all!</p>
            <p>Welcome to my first ever blog post, I figured I should make this post about something very near and dear to my heart..
                For those of you who know me at all, you know that I LOVE LOVE LOVE all things coffee!! Way back in 2009 McDonald’s did free
                mocha Monday’s and thus the addiction ensued at the age of 10 oops…
            </p>
            <p>I have recently started a summer internship in Denver, CO and have been introduced to the world of nitro cold brew!
                If you love coffee and you have never had nitro, add it to your list of things to try! For those of you who do not know what
                nitro cold brew is, it is essentially cold brew coffee that has been infused with nitrogen gas. The infusion creates a foamy,
                smooth, and very bold coffee. My fav! It also has more caffeine!! Even better for those late night homework sessions
            </p>
            <p>A little bit of history on this delicious drink..
            </p>
            <p>Back in 2016 the Seattle Reserve Roastery introduced the drink for the first time and quickly became the 2nd most popular drink
                (behind the caffe latte, a personal favorite of mine!) The drink quickly spread across the country starting mostly on the west coast,
                but Starbucks is hoping to have the drink at all locations by the end of this year!
            </p>
            <p>Nitro isn’t cheap (the only negative in my opinion). The prices range across different locations but for the most part a medium will cost
                about $3.50. Now if you’re anything like me you don’t want to spend $3.50 a day on a drink (or more for those that are even more
                like me and have 2+ cups of coffee a day).
            </p>

            <p>So why not buy your own nitro cold brew maker right?! You can but a 2L nitro cold brew home brewing kit for $160 from Amazon which
                is about the equivalent of purchasing 45 grandes from Starbucks. You would need to occasionally change the cream chargers which cost
                about $15 for a pack of 10. So if you’re really into coffee (like me!!) buying the home brewing kit might make more economical
                sense for you!!  Thank goodness for the free cups at my job!
            </p>

             <p>Let me know what you think of nitro cold brew when you get the chance to try it!
            </p>
        </div>

    </div>
    <div class="rightcolumn">
        <div class="card">
            <h2>About Me</h2>
            <div class="img" ><img src="images/me.jpg" style="height:100px;"></div>
            <p>Hi! My name is Claire and I am currently a junior at RIT studying computer science and computing security.
                Hopefully this blog will give you some insight into the college life!
            </p>

        </div>
        <div class="card">
            <h3>Recent Posts</h3>
            <div class="pic"><img src="images/post2.jpg", style="height: 75px; width: 200px;"></div>
            <div class="pic"><img src="images/nitro.jpg", style="height: 75px; width: 200px;"></div>
        </div>
        <div class="card">
            <h3>Follow Me</h3>
            <p>Instagram:</p><a href="https://www.instagram.com/clairecasalnova/">@clairecasalnova</a>
            <p>Twitter:</p><a href="https://twitter.com/clairecasalnova?lang=en"> @clairecasalnova</a>
        </div>
    </div>
</div>

<div class="footer">
    <h2>Contact Me:</h2>
    <p>clairecasalnova@gmail.com</p>
</div>