<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
  <head>
    <link href="stylesheets/style.css" type="text/css" rel="stylesheet">
    <title class="title">Claire Casalnova</title>
  </head>

  <body>
    <div class ="header">
      <p>CLAIRE CASALNOVA</p>
    </div>

    <section id="grid">

      <div class="academics">
        <p>Academics</p>
        <img src="images/tennis.jpg" title="academics" alt="Tennis">
      </div>

      <div class="athletics">
        <p>Athletics</p>
        <img src="images/tennis.jpg" title="tennis" alt="Tennis">
      </div>


      <div class="experience">
        <p>Experience</p>
        <img src="images/tennis.jpg" title="experience" alt="Tennis">
      </div>

      <div class="blog">
        <p>Blog</p>
        <img src="images/tennis.jpg" title="experience" alt="Tennis">
      </div>

    </section>
  </body>
</html>