<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
  <head>
    <link href="stylesheets/style.css" type="text/css" rel="stylesheet">
    <title class="title">Claire Casalnova</title>
  </head>
<body>
    <div class ="header">
      <p>CLAIRE CASALNOVA</p>
    </div>

    <section id="grid">

      <div class="academics">
        <p><a href="/academics">Academics</a></p>
        <a href="/academics"><img src="images/clairegrad4.jpg" title="academics" alt="Academics"  style="width: 300px; height: 100%"></a>
      </div>

      <div class="athletics">
        <p><a href="/athletics">Athletics</a></p>
        <a href="/athletics"> <img src="images/tennis.jpg" title="tennis" alt="Athletics" style="width: 300px; height: 100%"></a>
      </div>


      <div class="experience">
        <p><a href="/experience">Experience</a></p>
        <a href="/experience"><img src="images/pitt1.jpg" title="experience" alt="Experience"  style="width: 300px; height: 100%"></a>
      </div>

      <div class="blog">
        <p><a href="/blog">Blog</a></p>
        <a href="/blog"><img src="images/hike1.jpg" title="blog" alt="Blog"  style="width: 300px; height: 100%"></a>
      </div>

    </section>

  </body>
</html>