body {
    font-family: Palatino, URW Palladio L, serif;
    background: lavender;

}

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax(100px, auto);
}

.header {
    font-size: 40px;
    text-align: center;
    background: white;
}

.season2{
    grid-row: 1;
    grid-column: 1;
    background-color: white;
    padding: 20px;
}

.team1{
    grid-row:1;
    grid-column:2;
    background-color:white;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;


}