head ,body {
  background: lavender;
}

.header{
  font-family: Palatino, URW Palladio L, serif;
  font-size: 40pt;
  font-weight: bold;
  text-align: center;
  padding-top:50px;
  padding-bottom: 50px;
}

#grid{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding-left:30px;

}
.athletics > p, .academics > p, .experience > p, .blog> p{
  text-align: center;
  text-decoration: underline;
  font-size: 18pt;
  font-family:Verdana, Geneva, sans-serif
}



