body {
    font-family: Palatino, URW Palladio L, serif;
    background: lavender;

}

.header {
    font-size: 40px;
    text-align: center;
    background: white;
}


.leftcolumn {
    float: left;
    width: 72%;

}

.right-column {
    float: right;
    width: 25%;


}

.img {
    background-image: url("background.jpg");
    width: 100%;

}

/* Add a card effect for articles */
.card{
    background-color: white;
    margin-top: 20px;
    text-align: center;
    padding: 10px;
}

.createsend-button{
    ali: center;
    padding:20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}
.leftalign{
    text-align: left;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}